<!DOCTYPE html>

<html lang="en" class="no-js">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="{% static "colors/css/default.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "colors/css/component.css" %}"/>

        <link rel="stylesheet" href="{% static "colors/css/reset.css" %}"> <!-- CSS reset -->
        <link rel="stylesheet" href="{% static "colors/css/style.css" %}"> <!-- Resource style -->
        <script src="{% static "colors/js/modernizr.js" %}"></script> <!-- Modernizr -->
        
        <title>Image Comparison | Colorizer</title>
    </head>

    <body>
        <br>
        <br>
        <figure class="cd-image-container">
            <!--<img src="/static/colors/img/img-original.jpg" alt="Original Image">-->
            <img src="{{ modified }}" alt="Modified Image">
            <span class="cd-image-label" data-type="original">Colorized</span>

            <div class="cd-resize-img"> <!-- the resizable image on top -->
                <!--<img src="/static/colors/img/img-modified.jpg" alt="Modified Image">-->
                <img src="{{ original }}" alt="Original Image">
                <span class="cd-image-label" data-type="modified">Original</span>
            </div>

            <span class="cd-handle"></span>
        </figure> <!-- cd-image-container -->
<!--        <header>-->
            <!--<p>-->
                <!--<a href="{% url 'upload_file' %}">Try another image</a>-->
            <!--</p>-->
            <!--[><h1>Image Comparison Slider</h1><]-->
        <!--</header>-->

        <section id="set-0">
            <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                <a href="{% url 'upload_file' %}" class="hi-icon hi-icon-refresh">Try another image</a>
            </div>
        </section>


        <script src="{% static "colors/js/jquery-2.1.1.js" %}"></script>
        <script src="{% static "colors/js/jquery.mobile.custom.min.js" %}"></script> <!-- Resource jQuery -->
        <script src="{% static "colors/js/main.js" %}"></script> <!-- Resource jQuery -->
    </body>
</html>
