<!DOCTYPE html>

<html>
	<head>
		<meta charset = "utf-8">
		<title>Upload</title>
		{% load staticfiles %}
        <!--<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">-->
        <link rel="stylesheet" type="text/css" href="{% static "colors/css/default.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "colors/css/component.css" %}"/>
        <link rel="stylesheet" href="{% static "colors/css/dropzone.css" %}">

        <!--<link rel="stylesheet" href="{% static "colors/css/reset.css" %}">-->
        <!--<link rel="stylesheet" href="{% static "colors/css/style.css" %}">-->
		<!--<link href="{% static 'main/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>-->
        <script src="{% static "colors/js/modernizr.js" %}"></script>
	</head>

	<body>
		<form class   = "dropzone" 
              action  = "{% url "upload_file" %}" 
              method  = "post" 
              enctype = "multipart/form-data"
              id      = "my_dropzone">

			{% csrf_token %}
		</form>

		<script src = "{% static 'colors/js/dropzone.js' %}"></script>
		<script type = "text/javascript">

            var myDropzone = new Dropzone(".dropzone", {
                autoProcessQueue : true,
                dictDefaultMessage: "Drop image here to upload",
                thumbnailWidth: 250,
                thumbnailHeight: 250,
                maxFiles: 1,
                uploadMultiple: false,
            });

            myDropzone.on("success", function (event) {
                // window.location.replace("http://localhost:8000/compare/")
            });

            myDropzone.on("success", function (event) {
<!--                var head  = document.getElementsByTagName('head')[0];-->
                <!--var link  = document.createElement('link');-->
                <!--link.rel  = 'stylesheet';-->
                <!--link.type = 'text/css';-->
                <!--link.href = "{% static "colors/css/style.css" %}";-->
                <!--link.media = 'all';-->
                <!--head.appendChild(link);-->
            });

        </script>

        <section id="set-1">
            <div class="hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3b">
                <a href="{% url 'compare_images' %}" class="hi-icon hi-icon-images">Colorize</a>
            </div>
        </section>

	</body>
</html>
